<form class="form-signin" method="POST" action="/sessions">
        		<h1 class="form-signin-heading">Please sign in</h1 >

        		<%= label_tag :email, "Email" %>
        		<%= text_field_tag :email %>

        		<br>
        		<%= label_tag :password, "Password" %>
        		<%= password_field_tag :password %>

        		<br>

        		<%= submit_tag "Login" %>
    		</form>
