<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Client 1</h3>
  <div class="field">
    <%= f.label :client1_name, "Name" %><br />
    <%= f.text_field :client1_name %>
  </div>
  <div class="field">
    <%= f.label :client1_age, "Age" %><br />
    <%= f.number_field :client1_age %>
  </div>
  <div class="field">
    <%= f.label :client1_email, "Email" %><br />
    <%= f.text_field :client1_email %>
  </div>
  <div class="field">
     <%= f.label :client1_gender, "Gender" %><br />
    <%= f.select :client1_gender, ["Male", "Female"] %>
  </div>
  <div class="field">
    <%= f.label :client1_phone, "Phone" %><br />
    <%= f.text_field :client1_phone %>
  </div>
  <h3>Client 2</h3>
  <div class="field">
    <%= f.label :client2_name, "Name" %><br />
    <%= f.text_field :client2_name %>
  </div>
  <div class="field">
    <%= f.label :client2_age, "Age" %><br />
    <%= f.number_field :client2_age %>
  </div>
  <div class="field">
    <%= f.label :client2_email, "Email" %><br />
    <%= f.text_field :client2_email %>
  </div>
  <div class="field">
     <%= f.label :client2_gender, "Gender" %><br />
    <%= f.select :client2_gender, ["Male", "Female"] %>
  </div>
  <div class="field">
    <%= f.label :client2_phone, "Phone" %><br />
    <%= f.text_field :client2_phone %>
  </div>
  <h3>Questions</h3>
  <div class="field">
    <%= f.label :home_study_completed, "Have you completed home study?" %><br />
    <%= f.check_box :home_study_completed %>
  </div>
  <div class="field">
    <%= f.label :number_dependent_children, "Do you have dependant children?" %><br />
    <%= f.number_field :number_dependent_children %>
  </div>
  <div class="field">
    <%= f.label :will_travel, "Are youi willing to travel?" %><br />
    <%= f.check_box :will_travel %>
  </div>
  <h3>Address</h3>
  <div class="field">
    <%= f.label :street1 %><br />
    <%= f.text_field :street1 %>
  </div>
  <div class="field">
    <%= f.label :street2 %><br />
    <%= f.text_field :street2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
