<h1>Listing clients</h1>

<table>
  <tr>
    <th>Client1 name</th>    
    <th>Client2 name</th>
    <th>Home study completed</th>
    <th>Number dependent children</th>
    <th>Will travel</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.client1_name %></td>
    <td><%= client.client2_name %></td>
    <td><%= client.home_study_completed %></td>
    <td><%= client.number_dependent_children %></td>
    <td><%= client.will_travel %></td>
    <td><%= client.city %>, <%= client.state %>, <%= client.country %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
