<p id="notice"><%= notice %></p>

<p>
  <b>Client1 name:</b>
  <%= @client.client1_name %>
</p>

<p>
  <b>Client1 age:</b>
  <%= @client.client1_age %>
</p>

<p>
  <b>Client1 email:</b>
  <%= @client.client1_email %>
</p>

<p>
  <b>Client1 gender:</b>
  <%= @client.client1_gender %>
</p>

<p>
  <b>Client1 phone:</b>
  <%= @client.client1_phone %>
</p>

<p>
  <b>Client2 name:</b>
  <%= @client.client2_name %>
</p>

<p>
  <b>Client2 age:</b>
  <%= @client.client2_age %>
</p>

<p>
  <b>Client2 email:</b>
  <%= @client.client2_email %>
</p>

<p>
  <b>Client2 gender:</b>
  <%= @client.client2_gender %>
</p>

<p>
  <b>Client2 phone:</b>
  <%= @client.client2_phone %>
</p>

<p>
  <b>Home study completed:</b>
  <%= @client.home_study_completed %>
</p>

<p>
  <b>Number dependent children:</b>
  <%= @client.number_dependent_children %>
</p>

<p>
  <b>Will travel:</b>
  <%= @client.will_travel %>
</p>

<p>
  <b>Street1:</b>
  <%= @client.street1 %>
</p>

<p>
  <b>Street2:</b>
  <%= @client.street2 %>
</p>

<p>
  <b>City:</b>
  <%= @client.city %>
</p>

<p>
  <b>State:</b>
  <%= @client.state %>
</p>

<p>
  <b>Postal code:</b>
  <%= @client.postal_code %>
</p>

<p>
  <b>Country:</b>
  <%= @client.country %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
