<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @agency.name %>
</p>

<p>
  <b>Website:</b>
  <%= @agency.website %>
</p>

<p>
  <b>Contact name:</b>
  <%= @agency.contact_name %>
</p>

<p>
  <b>Director name:</b>
  <%= @agency.director_name %>
</p>

<p>
  <b>Year established:</b>
  <%= @agency.year_established %>
</p>

<p>
  <b>Phone number:</b>
  <%= @agency.phone_number %>
</p>

<p>
  <b>Fax number:</b>
  <%= @agency.fax_number %>
</p>

<p>
  <b>Licensed:</b>
  <%= @agency.licensed %>
</p>

<p>
  <b>Hague accreditation:</b>
  <%= @agency.haque_accreditation %>
</p>

<p>
  <b>Street1:</b>
  <%= @agency.street1 %>
</p>

<p>
  <b>Street2:</b>
  <%= @agency.street2 %>
</p>

<p>
  <b>City:</b>
  <%= @agency.city %>
</p>

<p>
  <b>State:</b>
  <%= @agency.state %>
</p>

<p>
  <b>Postal code:</b>
  <%= @agency.postal_code %>
</p>

<p>
  <b>Country:</b>
  <%= @agency.country %>
</p>


<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
