<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Little Luv Bug International Adoption</title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= stylesheet_link_tag "main" %>
</head>
<body>
<div class="logStatus">
    			<% if current_user %>
        			Logged in as <%= current_user.email %>. 
        			<%= link_to "Log out", "/sessions/destroy" %>
    			<% else %>
        			<%= link_to "Log in", "/sessions/new" %>
        			<%= link_to "Sign up", "/users/new" %>
    			<% end %>
</div>

<nav class="horNav">
<ul>
  <li><a href="home.htm" title="Home page" class="current">Home</a></li>
  <li><a href="register.htm" title="Register">Register</a></li>
  <li><a href="agency.htm" title="Select an Agency">Agency</a></li>
  <li><a href="child.htm" title="Select a Child">Child</a></li>
  <li><a href="contact.htm" title="contact us">Contact Us</a></li>
</ul>
</nav>

<div class="logo">
</div>

<section id="content">
	<div class="banner">
		<h1>Welcome to LLB International Adoption</h1>
		<p>At Little Luv Bug International Adoption our goal is to assist in the adoption process by providing seeking parents with a list of professional adoption agencies and eligible children.</p>
	</div>
</section>

<section class="col1">
<h4>This is where the really important stuff goes.</h4>
<p>Obitatum eum quis et estotat as exceptas ist rerisinctur, coritiis et, to magni as perit facestium, natium que voluptatem into berro officia vel maiore nobis aturio cum hic tem. Sincilit aceris erro ma voluptatem faccust, ommodis mo quis eum, odis cumquia ssinimin pa acest aut audio doluptatem in nam que voloraturios non cus, quatquat maio et eaquo to core vel in cum veles.</p>
<div class="news">
<h4>News Article 1.</h4><p>Obitatum eum quis et estotat as exceptas ist rerisinctur, coritiis et, to magni as perit facestium, natium que voluptatem into berro officia vel maiore nobis aturio cum hic tem. Sincilit aceris erro ma voluptatem faccust, ommodis mo quis eum, odis cumquia ssinimin pa acest aut audio doluptatem in nam que voloraturios non cus, quatquat maio et eaquo to core vel in cum veles.</p>
</div>
<div class="news">
<h4>News Articles 2.</h4><p>Obitatum eum quis et estotat as exceptas ist rerisinctur, coritiis et, to magni as perit facestium, natium que voluptatem into berro officia vel maiore nobis aturio cum hic tem. Sincilit aceris erro ma voluptatem faccust, ommodis mo quis eum, odis cumquia ssinimin pa acest aut audio doluptatem in nam que voloraturios non cus, quatquat maio et eaquo to core vel in cum veles.</p>
</div>
</section>

<aside class="col2">
<div class="vertNav2">
<ul>
  <li><a href="agency.html" title="Find an Agency">Find an Agency</a></li>
  <li><a href="child.html" title="Find a Child">Find a Child</a></li>
</ul>
</div>

<h4>Other important stuff.</h4>
<p>Obitatum eum quis et estotat as exceptas ist rerisinctur, coritiis et, to magni as perit facestium, natium que voluptatem into berro officia vel maiore nobis aturio cum hic tem. Sincilit aceris erro ma voluptatem faccust, ommodis mo quis eum, odis cumquia ssinimin pa acest aut audio doluptatem in nam que voloraturios non cus, quatquat maio et eaquo to core vel in cum veles ut pratur? Ute latest quis soluptas repelit am quatque minimpe ratium quodit aceatibus.
Feriatibusci aut lanis aborrovidem et volorep erchit mod que ex escilit et aut ellessitatur ad mos a core modignim faccatur millest iscilit prerumendia dolut volum nonessequis aut lantio. Ut as eum el evelendustis alitem sequaepra debis dolore conseque quundis ma et poresequas es volorem et apel molupta tiatemp oratureic tendipiet lit occabo. Simo que et ex et haruptat.</p>
</aside>
<footer>Copyright stuff....</footer>
</body>
</html>
